{% extends 'base.html' %}
{% block content %}
	<h1>About Us and our current client</h1>
	<p>PythonHow is our current client. They are an organization determined to help learners and professionals with <br>
	Python. They are currently requiring more employees, as they are constantly evolving, which causes disturbances <br>
	in their servers. Join now!</p>
	<p>GPPP, short for Goutham Pedinedi Python Programs, is the business behind this website. Our company is focused
	<br> on rapid development of programs in Python. We use frameworks such as Django and Flask to develop websites <br>
	For this website, we used the Django framework.</p>
{% endblock %}
